doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pokemon Memory
    link(href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='./css/app.css')
  body
    #container
      img.title(src="./media/title.png")
      button#start Start

      //- #controls
      //-   button#start Start
      //-   .timer-container
      //-     h2 Time left:
      //-     span.timer 60
      //-   .score-container
      //-     h2 Score:
      //-     span.score 0

      #game
        table
          tbody
            -for(var i=0; i < 4; i++)
              tr
                -for(var j=0; j < 5; j++)
                  td.container
                    .card

  script(src='./js/vendor/jquery-2.1.0.js')
  script(src='./js/vendor/lodash.js')
  script(src='./js/source/main.js')
