doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pokemon Memory
    link(href='http://fonts.googleapis.com/css?family=Wallpoet', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='./css/app.css')
  body
    img(src="./media/title.png")

    #header
      button#start Start
      h2 Time left:
      span.timer 60

    table
      tr
        td.container
          .card
        td.container
          .card
        td.container
          .card
        td.container
          .card
        td.container
          .card
      tr
        td.container
          .card
        td.container
          .card
        td.container
          .card
        td.container
          .card
        td.container
          .card
      tr
        td.container
          .card
        td.container
          .card
        td.container
          .card
        td.container
          .card
        td.container
          .card
      tr
        td.container
          .card
        td.container
          .card
        td.container
          .card
        td.container
          .card
        td.container
          .card

  script(src='./js/vendor/jquery-2.1.0.js')
  script(src='./js/source/main.js')
